.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.registerForm {
  border-radius: 12px;
  background: linear-gradient(135deg, #ffffff 0%, var(--primary-color) 1000%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 50vw;
  padding: 36px;

  &:hover {
    transform: translateY(-10px);
  }
}

.registerTitle {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

// .formStepContent {
// }

// .stepActions {
// }

// .loginLink {
// }

// .loginBtn {
//   width: 100%;
//   height: 40px;
// }
