# Development/Production API
VITE_API_URL=http://localhost:8080/api
VITE_SOCKET_URL=http://localhost:8080/ws

# Province API
VITE_PROVINCE_API_URL=https://esgoo.net/api-tinhthanh

# Google Auth
VITE_GOOGLE_CLIENT_ID=your-google-client-id
VITE_GOOGLE_CLIENT_SECRET=your-google-client-secret
# Normally, you do not need to use VITE_GOOGLE_CLIENT_SECRET in this application.

# VITE_BASE_URL is optional
VITE_BASE_URL=/your-base-url
VITE_SITE_URL=https://your-site-url.example.com/your-base-url
