@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --primary-color: rgb(212, 22, 60);
  --header-primary-color: #001529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html {
// }

// body {
//   font-family: 'Righteous', sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }
