.sider {
  background: #fff !important;
  padding: 20px;
  //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.siderTitle {
  margin-top: 16px;
  margin-bottom: 16px;
}

.searchBar {
  margin-bottom: 16px;
}

.filterBtn {
  margin-top: 16px;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
}

.checkbox {
  line-height: 2rem;
  font-weight: 400;
}

.spin {
  width: 100%;
  margin-top: 20%;
}

.metaTitle {
  white-space: normal;
  word-wrap: break-word;
  min-height: 2.8rem;
}

.strongValue {
  color: #1f2230;
  font-weight: 600;
}

.strongValueSuccess {
  color: #4caf50;
  font-weight: 600;
}

.strongValueFailed {
  color: #f44336;
  font-weight: 600;
}
