.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
  padding: 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.statusHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #eceff1;
  padding: 8px 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);

  .offline {
    color: var(--primary-color);
    line-height: 1rem;
  }
}

.container {
  position: relative;
  display: block;
  width: var(--container-width);

  .topHeader {
    display: flex;
    width: 100%;
    padding: 12px 0;

    .searchBar {
      margin: 0 4rem;
      max-width: 80%;
    }

    .btnGroup {
      display: flex;
    }

    .btn {
      line-height: 1rem;
    }
  }
}
