.profileContainer {
  padding: 4%;
}

.pText {
  display: inline-block;
  border-radius: 4px;
  padding: 4px 10px;
  width: 100%;
  text-align: center;
  color: #0c823b;
  background-color: #e8f9ef;
}

.infoContainer {
  margin-top: 2rem;
  max-width: 100%;
  border: 1px solid #e8e8e8;
  padding: 20px;
}
